@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1976px;
    width: 100% !important;
    /* padding-left: 192px; */
    margin-right: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    
    .container {
        padding-left: 120px;
    }  
}

@media screen and (max-width: 415px) {
    
    .container {
        padding-left: 0;
    }  
}

/* header //////////////////////////////////////////////////*/

header {
    max-width: 1976px;
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.site-title {
    margin-left: 32px;
    position: fixed;
    z-index: 10;
}

@media screen and (max-width: 415px) {

    .site-title {
        margin-left: 16px;
    }  
}


.audio_wrap {
    width: 160px;
    height: 160px;
    /* background-color: rgb(6, 6, 29); */
    top: 24px;
    right: 96px;
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;   
}

@media screen and (max-width: 768px) {
    
    .audio_wrap {
        right: 24px;
    } 
}

@media screen and (max-width: 415px) {

    .audio_wrap {
        right: 16px;
    } 
}

.listen {
    animation: 15s linear infinite;
    animation-name: r360;

}

@keyframes r360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sound-logo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.music {
    width: 96px;
    height: 96px;
}

/* circle  ////////////////////////////////////////////////// */

.circle {
    width: 72px;
    height: 72px;
    background-color: #ffff00;
    border-radius: 50%;
    position: fixed;
    top: 96px;
    left: 32px;
    z-index: 10;
}

@media screen and (max-width: 415px) {

    .circle {
        left: 16px;
    }   
}

/* title //////////////////////////////////////////////////// */

 .big-title2 {
    width: 100%;
    margin-top: 80px;
    box-sizing: border-box;
    animation-name: fade-in;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    transition: all 0.8s;
    display: flex;
    justify-content: center;
}

@keyframes fade-in {

    0% {
       opacity: 0; 
    }

    100% {
       opacity: 1;
    }
}

@media screen and (max-width: 415px) {

    .big-title2 {
        margin-left: 16px;
    }  
}

.catch {
    font-size: 6.8125vw;;
    background-clip: text;
    color: rgba(0, 0, 0, 0.24);
    mix-blend-mode: overlay; 
    background-image: url(../my-portfolio/images-mountain/2.jpg);
    background-position: center;
    -webkit-background-clip: text;
    text-align: justify;
    display: block;
    text-transform: capitalize;
}



.catch:hover {
   
    background-image: url(../my-portfolio/images-mountain/2.jpg);
    background-position: bottom;

}

@media screen and (max-width: 768px) {

    .catch {
        font-size: 9vw;
    } 
}

@media screen and (max-width: 415px) {

    .catch {
        font-size: 12vw;
    }  
}

.name {
    color: rgb(226, 243, 71);
    font-size: 5.8125vw;
    font-family: 'Castoro Titling', cursive;
}

/* .background-img::before {
    top: 0;
    left: 192px;
    width: 900px;
    height: 640px;
    content: "";
    background-color: royalblue;
    position: fixed;
    z-index: 5;)
} */

.progress {
    position: fixed;
    transform: rotate(90deg);
    top: 28vw;
    left: -7vw;
    width: 25%;
    height: 1px;
    z-index: 1;
    border: none;
    background-color: #999;
}

progress::-webkit-progress-value {
    background-color: black;
}

@media screen and (max-width: 768px) {

    .progress {
        display: none;
    }   
    
}

@media screen and (max-width: 415px) {

    .progress {
        display: none;
    }   
}


/* main /////////////////////////////////////////////////////// */


.img-container {
    width: 100%;
    height: 560px;
    background-color: #ccc;
    background-image: url(../my-portfolio/images/brick-wall-room-architecture-indoor-concept.jpg);
    background-size: cover;
    background-position: bottom right;
}

@media screen and (max-width: 415px) {

    .img-container {
        height: 400px;
    }
    
}

/* section //////////////////////////////////////////////////// */

section {
    width: 100%;
    display: flex;
    height: 1760px;
    margin-bottom: 160px;
    margin-top: 88px;
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 768px) {
    section {
        height: 2100px;
        margin-bottom: 96px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 415px) {
    section {
        padding-left: 40px;
        height: 2400px;
    }
    
}

.discription {
    max-width: 1117px;
    width: 100%;
    height: 640px;
    /* background-color: rgb(226, 243, 71); */
    margin-top: 96px;
    margin-bottom: 160px;    
}

dl {
    text-align: justify;
    display: flex;
    column-gap: 96px;
    transform: translateY(96px);
    opacity: 0;
    color: #2f2c2a;
    line-height: 32px;
}

@media screen and (max-width: 768px) {

    dl {
        flex-direction: column;
        row-gap: 40px;
        column-gap: 0;
    }
    
}

.inview dl {
    animation-name: fadeIn-up;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    transition: all 0.8s;
}

@keyframes fadeIn-up {
    
    0% {
        opacity: 0;
        transform: translateY(96px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


dt {
    font-size: 24px;
    letter-spacing: 0.05em;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 136px;
}

@media screen and (max-width: 768px) {

    .profile {
        column-gap: 0;
        row-gap: 0;
    }
    
}

.bold {
    font-weight: bold;
}

.policy {
    width: 96px;
}

.specialty {
    width: 96px;
}

.hobbies {
    width: 96px;
}

.special-jp {
    text-indent: -24px;
}

.hobby-jp {
    text-indent: -32px;
}

.inner-text {
    display: flex;
    flex-direction: column;
    row-gap: 160px;
}

@media screen and (max-width: 768px) {
    .inner-text {
        row-gap: 80px;   
    }
}

@media screen and (max-width: 415px) {

    .inner-text {
        row-gap: 40px;   
    }


    
}
.item1,.item2,.item3,.item4 {
    display: flex;
    flex-direction: column;
}

.inner-title {
    width: 96px;
}






/* nav   ///////////////////////////////////////////////////////////// */

/* .nav-container {
    width: 560px;
    display: flex;
    justify-content: flex-end;
} */
.nav-container {
    position: relative;
}

@media screen and (max-width: 768px) {
    .nav-container {
        display: none;
    }
    
}
.navi {
    width: 104px;
    height: 400px;
    top: 26vh;
    right: 0;
    position: fixed;
    /* background-color: #ccc; */
    justify-content: flex-end;
}



.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    margin-top: 3px;

}

.about {
    display: block;
    margin-bottom: 160px;
    visibility: visible;
    z-index: 100;
    font-size: 20px;
    font-weight: bold;
    margin-left: 24px;
    position: absolute;
    top: 0;

}

.top {
    display: block;
    margin-bottom: 160px;
    visibility: visible;
    z-index: 100;
    font-size: 20px;
    font-weight: bold;
    margin-left: 24px;
    position: absolute;
    top: 50%;
    writing-mode: vertical-lr;
}



/* .line {
    width: 54px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 54%;
    left: 54%;
    transform: translate(0, -54%);
} */

.line {
    width: 54px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 70%;
    left: -3%;
    transform: translate(100%, -54%);
}

.center-inner {
    position: absolute;
    top: 50%;
    transform: translateX(96px);
}

.inview .center-inner {
    transform: translateX(0);
    transition: ease-in-out 0.4s
}

.inner {
    position: relative;
    width: 88px;
    height: 88px;
}


/* big contact /////////////////////////////////////////////////// */


.big-contact {
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

@media screen and (max-width: 768px) {

    .big-contact {
        height: 400px;
        margin-top: 0;
    }  
}

@media screen and (max-width: 415px) {
    .big-contact {
        height: 240px;
    }  
}

.mark {
    font-size: 10vw;
    font-family: 'Castoro Titling', cursive;
    background-clip: text;
    color: rgba(0, 0, 0, 0.24);
    mix-blend-mode: overlay; 
    background-image: url(../my-portfolio/images-mountain/2.jpg);
    background-position: bottom right;
    -webkit-background-clip: text;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.big-text {
    text-decoration: none;
    font-family: 'Castoro Titling', cursive;
    font-size: 10vw;
    background-clip: text;
    color: rgba(0, 0, 0, 0.24);
    /* mix-blend-mode: overlay;  */
    background-image: url(../my-portfolio/images-mountain/2.jpg);
    background-position: bottom right;
    -webkit-background-clip: text;
    margin-top: 96px;
   
}

.big-text:hover {
    letter-spacing: 32px;
    transition: 0.5s;
    /* -webkit-text-stroke: 1px #111;
    color: #fff;  */
}
   

/* footer ///////////////////////////////////////////////////////// */

footer {
    max-width: 1976px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 415px) {

    .credit {
        height: 4px;
        display: flex;
        justify-content: center;
    }
    
}